:root {
    --font_color: #fad02c;
    --bg: #333652;
    --border: #90adc6;
}

* {
    background-color: var(--bg);
    box-sizing: border-box;
    color: var(--font_color);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 48px;
    padding: 25px;
    /* margin-top: 1.5vh; */
    text-align: center; 
}

/* Individual Elements */
.btn {
    padding: 5px;
    width: 180px;
}

/* .btn:hover {
    background-color: 
} */

#color-in {
    width: 65px;
}

/* Content Bodies */
.container {
    height: 100%;
    width: 100%;

    /* Positions header, content, and footer */
    display: flex;
    flex-direction: column;
}

.container-main {
    /* Prioritized by container's flex property */
    flex: 1;
    
    display: flex;
    gap: 50px;
    justify-content: center;
}

.settings-controls {
    padding: 50px;
    width: 190px;

    display: flex;
    flex-flow: wrap column;
    gap: 15px;
}

.settings-size {
    padding: 50px;

    display: flex;
    flex-flow: nowrap column;
    gap: 15px;
}

.settings-controls-in {
    display: flex;
}

.settings-controls-in .btn {
    width: 115px;
}

.settings-size-in {
    width: 190px;

    display: flex;
    gap: 15px;
}

.container-grid {
    border: 5px solid var(--border);
    margin: 50px;
    height: 30vw;
    width: 30vw;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.grid-cell:hover {
    background-color: var(--font_color);
}

.grid-cell {
    border: 1px solid rgba(250, 208, 44, 0.5);
}

.footer {
    padding: 25px;
    text-align: center;
}